*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log

client/public/*
.settings
.vscode/launch.json

tmp/

typings/mocha/mocha.d.ts

typings/node/node.d.ts

server/aws.json


public/share/card-*.html
public/share/*.png
