html
  style
    | body {margin: 40px;}
    | .container {max-width: 800; margin: 0 auto;}
    | p {margin-top: 50px;}
body
  .container
    h2 lost it completely
    h3 Relax ..
    img(src="https://app.loliful.io/assets/img/loliman-chill.svg")

    p <a href="https://app.loliful.io/">Go back</a> to make some nice jokes
