html
  style
    | body {margin: 40px;}
    | .container {max-width: 800; margin: 0 auto;}
    | p {margin-top: 50px;}
body
  .container
    h1 Gotta go ... something went wrong ..
    img(src="https://app.loliful.io/assets/img/loliman-jump.svg")

    p Please <a href="mailto:bug@loliful.io">contact us</a> in case of despair
